<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>Add products</title>
</head>
<body>
    <form action = "http://localhost:5001/addProducts" method = "POST">
         <p>Pon los atributos del producto:</p>
        <br><br>

         <p>Nombre del producto:</p>
         <p><input type = "text" name = "name" /></p>

        <br><br>

         <p>Default code del producto:</p>
         <p><input type = "text" name = "defaultCode" /></p>

        <br><br>

         <p>Precio del producto:</p>
         <p><input type = "text" name = "precio" /></p>

        <br><br>

         <p>Id de compañia del producto:</p>
         <p><input type = "text" name = "idCompany" /></p>

         <p><input type = "submit" value = "Agregar producto" /></p>
      </form>

    <br>
    <br>
    <form action="http://localhost:5001/logOut" method="post">
        <button type="submit">Cerrar sesión</button>
    </form>
</body>
</html>