<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create products with CSV</title>
</head>
<body>
<form action="http://localhost:5001/CSVproductsAdded" method="post" enctype="multipart/form-data">
    <input type="file" name="fileupload" id="fileToUpload">
    <input type="submit" value="Upload File" name="submit">
</form>

<br>
    <br>
    <form action="http://localhost:5001/logOut" method="post">
        <button type="submit">Cerrar sesión</button>
    </form>
</body>
</html>