<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>Deelete products</title>
</head>
<body>
    <form action = "http://localhost:5001/deleteProducts" method = "POST">
         <p>Id del producto a eliminar:</p>
         <p><input type = "text" name = "idProducts" /></p>
         <p><input type = "submit" value = "Agregar producto" /></p>
      </form>
</body>
</html>