<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>Listado de productos</title>
</head>
<style>
table, th, td {
  border:1px solid black;
}
</style>
<body>
<br>
    <br>
    <form action="http://localhost:5001/logOut" method="post">
        <button type="submit">Cerrar sesión</button>
    </form>
<table>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Default code</th>
        <th>List price</th>
        <th>Id company</th>
        <th>Actions</th>
    </tr>
    {%for i in range(0, len)%}
    <tr>
        <td>{{Products[i]['id']}}</td>
        <td>{{Products[i]['name']}}</td>
        <td>{{Products[i]['default_code']}}</td>
        <td>{{Products[i]['list_price']}}</td>
        <td>{{Products[i]['company_id']}}</td>
        <td>
            <form action="http://localhost:5001/UpdateProducts" method="post">
                <input type="text" value={{Products[i]['id']}} name="idProduct" id="idProduct"> <br>
                <input type="text" value={{Products[i]['name']}} name="nameProduct" id="nameProduct"> <br>
                <input type="text" value={{Products[i]['list_price']}} name="priceProduct" id="priceProduct"> <br>
                <input type="text" value={{Products[i]['company_id']}} name="companyProduct" id="companyProduct"> <br><br>

                <button type="submit">Edit</button>
            </form>

            <form action="http://localhost:5001/viewEpecificProduct" method="post">
                <input type="text" value={{Products[i]['id']}} name="idProductViz" id="idProductViz"> <br>

                <button type="submit">View</button>
            </form>
            <button> Delete</button>
        </td>
    </tr>
    {%endfor%}
</table>
<ol>
<!-- For loop logic of jinja template -->

</ol>

</body>
</html>