<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
    <form action="http://localhost:5001/listaProductos" method="post">
        <h3>Usuario</h3> <br>
        <input type="text" name="email" id="email"> <br>
        
        <h3>Contraseña</h3> <br>
        <input type="text" name="password" id="password"> <br> <br>

        <button type="submit">Iniciar sesión</button>

    
    </form>
    <br>
    <br>
    <a href="http://localhost:5001/recuperarPassword">Recuperar contraseña</a>
</body>
</html>